Keras==2.6.0
numpy
futures==3.1.1
cryptography
aiofiles
Pillow==8.4.0
pymilvus==2.0.0rc7
tensorflow==2.6.0
bert-serving-client==1.10.0
bert-serving-server==1.10.0
pymongo==3.12.0
fastapi==0.70.0  
uvicorn==0.15.0
python-multipart==0.0.5
redis==3.5.3
